html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    box-sizing: inherit;

    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    border: 0.5px solid red;
}

/* .square:hover {
    background-color: green;
} */

.container {

    width: 600px;
    height: 600px;

    display: grid;

    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, 1fr);
    
}

.colored {
    background-color: green;
}

button {
    width: 15%;
    height: 5%;

    background-color: orange;
    border-radius: 1rem;

    color: white;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(221, 144, 0);
}

