html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 15%;
    height: 10%;
    border-radius: 1rem;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(209, 209, 209);
    color: white;
}

.square {
    border: 1px solid black;


}

.container {
    border: 3px solid black;

    height: 960px;
    width: 960px;

    /* display: flex; */

    display: grid;

    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}